@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600;700&display=swap');

body {  
  font-family: 'Libre Franklin', sans-serif;
  font-size: 20px;
  padding-left: 2em;
  padding-right: 2em;
}

:root{
  /* Primary */
  --primary-color-blue: hsl(223, 87%, 63%);
  
  /* Secondary */
  --secondary-color-pale-blue: rgb(194, 211, 255);
  --secondary-color-light-red: hsl(354, 100%, 66%);

  /* Neutral */
  --neutral-color-gray: hsl(0, 0%, 59%);
  --neutral-color-very-dark: hsl(209, 33%, 12%);
}
